language: ruby
cache: bundler
sudo: false
# we need trust so correct gcc runs for mini_racer, latest v8 requires gcc 4.8+

before_install:
  - if [ "$EXECJS_RUNTIME" == "V8" ]; then brew update; fi
  - if [ "$EXECJS_RUNTIME" == "V8" ]; then brew install v8; fi
  - if [ "$EXECJS_RUNTIME" == "Node" ]; then node --version; fi
  - if [ "$EXECJS_RUNTIME" == "MiniRacer" ]; then gem install bundler -v 1.12.0; fi
script: bundle && bundle exec ruby test/test_execjs.rb

matrix:
  include:
    - rvm: 2.0.0
      env: EXECJS_RUNTIME=Node
    - rvm: 2.0.0
      env: EXECJS_RUNTIME=Duktape
    - rvm: 2.0.0
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: 2.1.10
      env: EXECJS_RUNTIME=Node
    - rvm: 2.1.10
      env: EXECJS_RUNTIME=Duktape
    - rvm: 2.1.10
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: 2.2.7
      env: EXECJS_RUNTIME=Node
    - rvm: 2.2.7
      env: EXECJS_RUNTIME=Duktape
    - rvm: 2.2.7
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: 2.3.4
      env: EXECJS_RUNTIME=Node
    - rvm: 2.3.4
      env: EXECJS_RUNTIME=Duktape
    - rvm: 2.3.4
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: 2.4.1
      env: EXECJS_RUNTIME=Node
    - rvm: 2.4.1
      env: EXECJS_RUNTIME=Duktape
    - rvm: 2.4.1
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: ruby-head
      env: EXECJS_RUNTIME=Node
    - rvm: ruby-head
      env: EXECJS_RUNTIME=Duktape
    - rvm: ruby-head
      env: EXECJS_RUNTIME=MiniRacer
      dist: trusty
      sudo: true

    - rvm: jruby-19mode
      env: EXECJS_RUNTIME=Node
    - rvm: jruby-19mode
      env: EXECJS_RUNTIME=RubyRhino

    - os: osx
      env: EXECJS_RUNTIME=JavaScriptCore
    - os: osx
      env: EXECJS_RUNTIME=Node
    - os: osx
      env: EXECJS_RUNTIME=Duktape
    - os: osx
      env: EXECJS_RUNTIME=V8
    - os: osx
      env: EXECJS_RUNTIME=MiniRacer
      osx_image: xcode7.3
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
